*{
    box-sizing: border-box;

}
/* All Coins table */
.cotainer{
    max-width: 1024px;
    margin: auto;
}
.header,.c-row{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    margin: 32px 16px;
    padding: 12px 8px;
    align-items: center;
}
img{
    height: 40px;
}
.p{
    margin-left: -3rem;
}
/* Specific coin */
.coin-container .content{
    display: flex;
    /* flex-direction: column; */
}
.stats .row{
    display: flex;
    /* justify-content: space-between; */
}
.rank{
    background-color: red;
}
.img{
    height: 500px;
    border: 3px solid black;
}
